meta(charset="utf-8")
title GL82

meta(name="author", content="Gunther Butzmann")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="description", content="GL82")

link(rel="stylesheet", type="text/css", href="http://yui.yahooapis.com/3.11.0/build/cssreset/cssreset-min.css")
link(rel="stylesheet", type="text/css", href="css/bootstrap.css")
link(rel="stylesheet", type="text/css", href="css/style.css")
