!!!5
html
  head
    include includes/head

  body
    include includes/header
    div.container
      div.row
        h1 Timm
        div.col-md-6
          img.img-responsive(src="img/test.jpg")
        div.col-md-6
          img.img-responsive(src="img/test2.jpg")
      hr.featurette-divider

      div.row
        h1 Borchardt
        div.col-md-6
          img.img-responsive(src="img/test.jpg")
        div.col-md-6
          img.img-responsive(src="img/test2.jpg")
      hr.featurette-divider

      div.row
        h1 Kurtze
        div.col-md-6
          img.img-responsive(src="img/test.jpg")
        div.col-md-6
          img.img-responsive(src="img/test2.jpg")
      hr.featurette-divider

      div.row
        h1 Schwarick
        div.col-md-6
          img.img-responsive(src="img/test.jpg")
        div.col-md-6
          img.img-responsive(src="img/test2.jpg")
      hr.featurette-divider

      div.row
        h1 Schwarick
        div.col-md-6
          img.img-responsive(src="img/test.jpg")
        div.col-md-6
          img.img-responsive(src="img/test2.jpg")

    include includes/scripts
