!!!5
html
  head
    include includes/head

  body
    include includes/header
    div.container
      div.row
        h1 2010 Männertag
        div.col-md-6
          img.img-responsive(src="img/test2.jpg")
        div.col-md-6
          p hier kommt text
      hr.featurette-divider


    include includes/scripts
