!!!5
html
  head
    include includes/head

  body
    include includes/header
    div.container
      div.row
        h1 2011 Potsdam
        div.col-md-6
          img.img-responsive(src="img/test.jpg")
        div.col-md-6
          img.img-responsive(src="img/test2.jpg")
      hr.featurette-divider


    include includes/scripts
